<%- include('../partials/header'); -%>

<form action="" method="post">
    <h2>Register</h2>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <div class="name-error"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email-error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password-error"></div>
    <button>Register</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailErrors = document.querySelector('.email-error');
    const passwordErrors = document.querySelector('.password-error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        emailErrors.textContent = '';
        passwordErrors.textContent = '';

        const name = form.name.value;
        const email = form.email.value;
        const password = form.password.value;

        console.log(email, password, name);

        try{
            const res = await fetch('/register', {
                method: 'POST',
                body: JSON.stringify({email, password, name}),
                headers: {'Content-type' : 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailErrors.textContent = data.errors.email;
                passwordErrors.textContent = data.errors.password;
            };
            if(data.message === 'Register successful!'){
                location.assign('/login');
            }
        }catch(err){
            console.log(err);
        }
    });


</script>

<%- include('../partials/footer'); -%>